#pragma code_page(65001)

#include "resource.h"
#include "winres.h"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_ICON1               ICON    DISCARDABLE     "icon1.ico"

/////////////////////////////////////////////////////////////////////////////
//
// FONTS
//

// Note for game translators:
// Rather than replacing this, use a separate font file and the "fontfile"
// option in system3.ini. That will allow your translated version run on
// other platforms, such as Android and Web.
MTLc3m.ttf  FONTS  DISCARDABLE  "../../resources/fonts/MTLc3m.ttf"

/////////////////////////////////////////////////////////////////////////////
//
// MDA
//

AMUS_AB.MDA   MDA  DISCARDABLE  "../../resources/mda/AMUS_AB.MDA"
AMUS_AL1.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_AL1.MDA"
AMUS_AL2.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_AL2.MDA"
AMUS_AL3.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_AL3.MDA"
AMUS_ALL.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_ALL.MDA"
AMUS_AMB.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_AMB.MDA"
AMUS_AT.MDA   MDA  DISCARDABLE  "../../resources/mda/AMUS_AT.MDA"
AMUS_AYM.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_AYM.MDA"
AMUS_BEE.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_BEE.MDA"
AMUS_CRS.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_CRS.MDA"
AMUS_DLK.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_DLK.MDA"
AMUS_DPS.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_DPS.MDA"
AMUS_DRS.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_DRS.MDA"
AMUS_INT.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_INT.MDA"
AMUS_KNG.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_KNG.MDA"
AMUS_LP2.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_LP2.MDA"
AMUS_MGN.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_MGN.MDA"
AMUS_OTM.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_OTM.MDA"
AMUS_OY.MDA   MDA  DISCARDABLE  "../../resources/mda/AMUS_OY.MDA"
AMUS_PSG.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_PSG.MDA"
AMUS_R3H.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_R3H.MDA"
AMUS_R4.MDA   MDA  DISCARDABLE  "../../resources/mda/AMUS_R4.MDA"
AMUS_R41.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_R41.MDA"
AMUS_R42.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_R42.MDA"
AMUS_RG2.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_RG2.MDA"
AMUS_SDP.MDA  MDA  DISCARDABLE  "../../resources/mda/AMUS_SDP.MDA"
AMUS_SG.MDA   MDA  DISCARDABLE  "../../resources/mda/AMUS_SG.MDA"
AMUS_T1.MDA   MDA  DISCARDABLE  "../../resources/mda/AMUS_T1.MDA"
AMUS_T2.MDA   MDA  DISCARDABLE  "../../resources/mda/AMUS_T2.MDA"
AMUS_VX.MDA   MDA  DISCARDABLE  "../../resources/mda/AMUS_VX.MDA"
BMUS_AKA.MDA  MDA  DISCARDABLE  "../../resources/mda/BMUS_AKA.MDA"
BMUS_ANT.MDA  MDA  DISCARDABLE  "../../resources/mda/BMUS_ANT.MDA"
BMUS_FAH.MDA  MDA  DISCARDABLE  "../../resources/mda/BMUS_FAH.MDA"
BMUS_KAM.MDA  MDA  DISCARDABLE  "../../resources/mda/BMUS_KAM.MDA"
BMUS_KAT.MDA  MDA  DISCARDABLE  "../../resources/mda/BMUS_KAT.MDA"
BMUS_MTK.MDA  MDA  DISCARDABLE  "../../resources/mda/BMUS_MTK.MDA"
BMUS_NAI.MDA  MDA  DISCARDABLE  "../../resources/mda/BMUS_NAI.MDA"
BMUS_NOB.MDA  MDA  DISCARDABLE  "../../resources/mda/BMUS_NOB.MDA"
BMUS_RAB.MDA  MDA  DISCARDABLE  "../../resources/mda/BMUS_RAB.MDA"
BMUS_SIN.MDA  MDA  DISCARDABLE  "../../resources/mda/BMUS_SIN.MDA"
BMUS_SOT.MDA  MDA  DISCARDABLE  "../../resources/mda/BMUS_SOT.MDA"
BMUS_TNM.MDA  MDA  DISCARDABLE  "../../resources/mda/BMUS_TNM.MDA"
CMUS_T1.MDA   MDA  DISCARDABLE  "../../resources/mda/CMUS_T1.MDA"


/////////////////////////////////////////////////////////////////////////////
// English resources

LANGUAGE LANG_ENGLISH, SUBLANG_NEUTRAL

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU1 MENU DISCARDABLE
BEGIN
    POPUP "File"
    BEGIN
        MENUITEM "Save Screenshot",             ID_SCREENSHOT
        MENUITEM SEPARATOR
        MENUITEM "Restart",                     ID_RESTART
        MENUITEM SEPARATOR
        MENUITEM "Exit",                        ID_EXIT
    END
    POPUP "Screen"
    BEGIN
        MENUITEM "Window",                      ID_SCREEN_WINDOW
        MENUITEM "Fullscreen",                  ID_SCREEN_FULL
    END
    POPUP "Option"
    BEGIN
        MENUITEM "Mouse Movement",              ID_OPTION_MOUSE_MOVE
        MENUITEM SEPARATOR
        MENUITEM "FM Sound",                    ID_OPTION_FM
        MENUITEM "MIDI Sound",                  ID_OPTION_MIDI
        MENUITEM "CD Audio",                    ID_OPTION_CD
    END
    POPUP "Message"
    BEGIN
        MENUITEM "Skip",                        ID_TEXT_SKIP
        MENUITEM "Wait",                        ID_TEXT_WAIT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG1 DIALOG DISCARDABLE  0, 0, 122, 55
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Text input"
FONT 9, "MS Shell Dlg"
BEGIN
    EDITTEXT        IDC_EDITBOX,7,15,112,12
    LTEXT           "Enter a string (up to 8 letters)",IDC_TEXT,7,3,112,8
    DEFPUSHBUTTON   "OK",IDOK,35,36,50,14
END


/////////////////////////////////////////////////////////////////////////////
// 日本語 resources

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU1 MENU DISCARDABLE
BEGIN
    POPUP "ファイル"
    BEGIN
        MENUITEM "画面保存",                    ID_SCREENSHOT
        MENUITEM SEPARATOR
        MENUITEM "再起動",                      ID_RESTART
        MENUITEM SEPARATOR
        MENUITEM "閉じる",                      ID_EXIT
    END
    POPUP "画面"
    BEGIN
        MENUITEM "ウィンドウ",                  ID_SCREEN_WINDOW
        MENUITEM "フルスクリーン",              ID_SCREEN_FULL
    END
    POPUP "オプション"
    BEGIN
        MENUITEM "マウスカーソル移動",          ID_OPTION_MOUSE_MOVE
        MENUITEM SEPARATOR
        MENUITEM "FM音源",                      ID_OPTION_FM
        MENUITEM "MIDI音源",                    ID_OPTION_MIDI
        MENUITEM "CD音源",                      ID_OPTION_CD
    END
    POPUP "メッセージ"
    BEGIN
        MENUITEM "スキップ",                    ID_TEXT_SKIP
        MENUITEM "ウェイトあり",                ID_TEXT_WAIT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG1 DIALOG DISCARDABLE  0, 0, 122, 55
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "文字列の入力"
FONT 9, "ＭＳ Ｐゴシック"
BEGIN
    EDITTEXT        IDC_EDITBOX,7,15,112,12
    LTEXT           "文字を入力してください（最大8文字）",IDC_TEXT,7,3,112,8
    DEFPUSHBUTTON   "OK",IDOK,35,36,50,14
END


/////////////////////////////////////////////////////////////////////////////
// 简体中文 resources

LANGUAGE LANG_CHINESE, SUBLANG_CHINESE_SIMPLIFIED

/////////////////////////////////////////////////////////////////////////////
//
// Menu
//

IDR_MENU1 MENU DISCARDABLE
BEGIN
    POPUP "文件"
    BEGIN
        MENUITEM "截图",                        ID_SCREENSHOT
        MENUITEM SEPARATOR
        MENUITEM "重启",                        ID_RESTART
        MENUITEM SEPARATOR
        MENUITEM "退出",                        ID_EXIT
    END
    POPUP "窗口"
    BEGIN
        MENUITEM "窗口化",                      ID_SCREEN_WINDOW
        MENUITEM "全屏化",                      ID_SCREEN_FULL
    END
    POPUP "选项"
    BEGIN
        MENUITEM "Mouse Movement",              ID_OPTION_MOUSE_MOVE
        MENUITEM SEPARATOR
        MENUITEM "FM 音源",                     ID_OPTION_FM
        MENUITEM "MIDI 音源",                   ID_OPTION_MIDI
        MENUITEM "CD 音源",                     ID_OPTION_CD
    END
    POPUP "消息"
    BEGIN
        MENUITEM "跳过",                        ID_TEXT_SKIP
        MENUITEM "等待",                        ID_TEXT_WAIT
    END
END

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DIALOG1 DIALOG DISCARDABLE  0, 0, 122, 55
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "字符串输入"
FONT 9, "微软雅黑"
BEGIN
    EDITTEXT        IDC_EDITBOX,7,15,112,12
    LTEXT           "请输入字符串（最多８个字符）",IDC_TEXT,7,3,112,8
    DEFPUSHBUTTON   "OK",IDOK,35,36,50,14
END
